.offer-offer {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.offer-image {
  object-fit: cover;
}
.offer-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.offer-details {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.offer-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.offer-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.offer-text2 {
  max-width: 400px;
  line-height: 24px;
}
.offer-root-class-name {
  top: 0px;
  flex: 1;
  left: 0px;
  position: 0px;
  align-self: stretch;
}
@media(max-width: 991px) {
  .offer-image {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-video1 {
  height: 100%;
}
.home-tint {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}
.home-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-center {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 90px;
}
.home-caption {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 600px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  font-family: Karla;
  line-height: 27px;
}
.home-quick-view {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.home-offers {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.home-offer-container {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container1 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container2 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container3 {
  width: 100%;
  display: flex;
  position: relative;
  text-decoration: none;
}
.home-offer-container4 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.home-content1 {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-main1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link {
  color: rgb(255, 255, 255);
}
.home-link1 {
  color: rgb(255, 255, 255);
}
.home-link2 {
  color: rgb(255, 255, 255);
}
.home-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link3 {
  color: rgb(255, 255, 255);
}
.home-link4 {
  color: rgb(255, 255, 255);
}
.home-link5 {
  color: rgb(255, 255, 255);
}
.home-link6 {
  color: rgb(255, 255, 255);
}
@media(max-width: 991px) {
  .home-quick-view {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-offers {
    grid-template-columns: auto auto;
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-main1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-branding {
    max-width: 80%;
  }
  .home-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-links {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-center {
    padding-bottom: 100px;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-header {
    font-size: 40px;
    line-height: 40px;
  }
  .home-caption {
    font-size: 16px;
    max-width: 80%;
    line-height: 24px;
  }
  .home-quick-view {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-offers {
    grid-template-columns: auto;
  }
  .home-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-branding {
    max-width: 70%;
  }
}
