<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - Travel Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    
    <main>
        <section>
            <h2>Welcome to our Travel Management System</h2>
            <p>We're a group of passionate travel enthusiasts who want to help people explore the world. We believe that traveling is not just about seeing new places but also about experiencing different cultures, meeting new people, and creating memories that will last a lifetime.</p>
            
            <p>Our mission is to inspire and enable people to travel more by providing them with the information they need to plan their next adventure. We believe that everyone should have the opportunity to travel, regardless of their budget, and we're committed to providing our readers with tips and tricks on how to make the most of their travels.</p>
        </section>
        
        <section>
            <h2>Meet Our Team</h2>
            <ul>
                <li>
                    
                    <h3>Vishakha Bhorkade</h3>
                    
                </li>
                <li>
                    
                    <h3>Arth Doshi</h3>
                    
                </li>
                <li>
                    
                    <h3>Rohit Kadekar</h3>
                    
                </li>
                <li>
                    
                    <h3>Sanjeev Guwal</h3>
                    
                </li>
            </ul>
        </section>
        
        <section>
            <h2>Our Travel Content</h2>
            <p>On our website, you'll find a wealth of travel information, including destination guides, travel tips, hotel reviews, and much more. We also feature stories and photos from travelers around the world, giving you a glimpse into the different cultures and experiences that await you.</p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2023 Travel Website. All rights reserved.</p>
    </footer>
</body>
</html>
