<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stylefaq.css">
    
</head>

<body>

    <main>
       

        <h1 class="faq-heading">FAQ'S</h1>
        <section class="faq-container">
            <div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">Question: What if I miss my flight?</h1>

                <!-- faq Answer:  -->
                <div class="faq-body">
                    <p>Answer: If you miss your flight, please contact our customer service team as soon as possible. Depending on the fare rules of your ticket and the airline's policies, you may be able to change to a later flight for a fee.</p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h1 class="faq-page">Question: Can I cancel or modify my booking?</h1>

                <!-- faq Answer:  -->

                <div class="faq-body">
                    <p>Answer:  Yes, you can cancel or modify your booking depending on the fare rules of the ticket you purchased. To do so, please log in to your account or contact our customer service team for assistance. Please note that some fares may not allow for changes or refunds.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
                <h1 class="faq-page">Question: What documents do I need to travel?</h1>

                <!-- faq Answer:  -->
                <div class="faq-body">
                    <p>Answer:  The documents required for travel vary depending on your destination and nationality. Generally, you will need a valid passport and any necessary visas or permits. We recommend checking with your destination's embassy or consulate for specific requirements.</p>
                </div>
            </div>

           <div class="faq-four">

                <!-- faq question -->
                <h1 class="faq-page">Question: What is your baggage policy?</h1>

                <!-- faq Answer:  -->
                <div class="faq-body">
                    <p>Answer:  Our baggage policy varies depending on the airline you are flying with. Please refer to your booking confirmation or contact our customer service team for more information.</p>
                </div>
            </div>
           

			<div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">Question: What if I have a complaint?</h1>

                <!-- faq Answer:  -->
                <div class="faq-body">
                    <p>Answer:  Kindly reach out to our customer service desk by filing a complaint</p>
                </div>
            </div>

            <div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">Question: How do I book a package?</h1>

                <!-- faq Answer:  -->
                <div class="faq-body">
                    <p>Answer:  You can book once you register and <a href="{{url_for('login')}}">Login</a>.</p>
                </div>
            </div>
        </section>
    </main>
    <script src="/static/js/faq.js"></script>
</body>


</html>


<!--
    TEMPLATE BLOCK TO ADD NEW FAQs           

			<div class="faq-one">

                <!-- faq question ->
                <h1 class="faq-page">Question: _______?</h1>

                <!-- faq Answer:  ->
                <div class="faq-body">
                    <p>Answer:  _______</p>
                </div>
            </div>
-->
