<!--#Styles and css taken from a template on teleportHQ.io and restructured. The images have been picked from the web-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Traveler template</title>
    <meta property="og:title" content="Traveler template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">

    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Karla;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div>
      <link href="/static/css/index.css" rel="stylesheet" />


      <div class="home-container">
        <section class="home-hero">
          <div class="home-main">
            <div class="home-video">
              <video
                src="https://www.youtube.com/watch?v=MZO4B1RZU5g&ab_channel=touropia"
                poster="/static/img/background_image.jpeg"
                class="home-video1">
              </video>
              <div class="home-tint"></div>
            </div>
            <div class="home-content">
              <div class="home-center">
                <div class="home-container1">
                  <button class="home-login button" onclick="window.location.href='/login'">Login</button>
                  <button class="button" onclick="window.location.href='/register'">Register</button>
                </div>
                <div class="home-heading">
                  <h1 class="home-header">
                    <span>Travels Management System</span>
                    <br />
                  </h1>
                  <p class="home-caption">
                    Find a travel destination
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="tours" class="home-quick-view">
          <div class="home-offers">
            
              <div class="home-offer-container">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="/static/img/dublin.jpg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Dublin</span></span>
                      <span class="offer-text1">
                        
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Dublin is the capital city of Ireland and one of the
                        most popular destinations in Europe. The city is known
                        for its rich history, lively culture, and friendly
                        locals. Visitors can explore its famous landmarks, such
                        as the Dublin Castle, St. Patrick's Cathedral, and the
                        Guinness Storehouse, where they can learn about the
                        history and making of Ireland's famous beer.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            
            
              <div class="home-offer-container1">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="/static/img/limerick.jpg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Limerick</span></span>
                      <span class="offer-text1">
                        
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Limerick is a charming city located in the mid-west of
                        Ireland. It is a perfect destination for those looking
                        for a relaxing and authentic Irish experience. The city
                        is steeped in history, with landmarks like King John's
                        Castle, City Gallery of Art and the Hunt Museum.
                        Limerick is also known for its traditional Irish music
                        scene, with plenty of pubs offering live
                        performances.Limerick is a must-see destination for
                        anyone visiting Ireland.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            
            
              <div class="home-offer-container2">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="/static/img/galway.jpg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Galway</span></span>
                      <span class="offer-text1">
                        
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Galway, located on the west coast of Ireland, is a
                        charming city with a vibrant cultural scene and stunning
                        natural beauty. The city is known for its lively
                        streets, colorful buildings, and friendly people. Galway
                        is also home to some of Ireland's most beautiful
                        beaches, including Salthill Beach and Silver Strand
                        Beach. The city has a thriving music and arts scene,
                        with numerous festivals throughout the year, including
                        the famous Galway Arts Festival.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            
            
              <div class="home-offer-container3">
                <div class="offer-offer offer-root-class-name">
                  <img
                    alt="image"
                    src="/static/img/belfast.jpg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Belfast</span></span>
                      <span class="offer-text1">
                    </div>
                    <span class="offer-text2">
                      <span>
                        Belfast, the capital city of Northern Ireland, is a
                        vibrant destination that offers a mix of historical and
                        modern attractions. The city is steeped in history, with
                        a fascinating past that is reflected in its architecture
                        and landmarks. Visitors can explore the Titanic Quarter,
                        which is home to the Titanic Belfast museum, a tribute
                        to the ill-fated ocean liner that was built in the city.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            
            
              <div class="home-offer-container4">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="/static/img/cork.jpg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Cork</span></span>
                      <span class="offer-text1">
                        
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Cork is a charming city located on the southern coast of Ireland.Cork is a must-visit destination for anyone traveling to Ireland. The city is surrounded by stunning natural landscapes, including rolling hills and scenic coastline.People can explore the city's famous English Market, the historic St. Fin Barre's Cathedral, and the Crawford Art Gallery.
                      </span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="home-offer-container4">
                <div class="offer-offer">
                  <img
                    alt="image"
                    src="/static/img/kilkenny.jpg"
                    class="offer-image"
                  />
                  <div class="offer-content">
                    <div class="offer-details">
                      <span class="offer-text"><span>Kilkenny</span></span>
                      <span class="offer-text1">
                        
                      </span>
                    </div>
                    <span class="offer-text2">
                      <span>
                        Kilkenny is a charming medieval city located in the
                        southeast of Ireland, known for its rich history,
                        cultural heritage, and stunning architecture. Kilkenny
                        Castle, built in the 12th century, is the city's most
                        iconic attraction and a must-visit for anyone traveling
                        to Kilkenny. The castle is surrounded by beautiful
                        gardens and parks, making it an ideal place to relax and
                        soak up the city's atmosphere.Kilkenny is also famous
                        for its vibrant nightlife and excellent food scene.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            
          </div>
        </section>
        <section class="home-footer">
          <div class="home-content1">
            <div class="home-main1">
              <div class="home-branding"><div class="home-heading1"></div></div>
              <div class="home-links">
                <div class="home-items">
                </div>
                <div class="home-items1">
                  <button class="home-link3 button button-clean"  type="submit" onclick="window.location.href='/aboutus'">
                    About us
                  </button>
                  <button class="home-link6 button button-clean" type="submit" onclick="window.location.href='/faq'">Faqs</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </body>
</html>